@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("./assets/font/clash.ttf");
}

@layer components {
  .gradient {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.99%, #FE34B9 100%);
  }

  .gradient2 {
    background: linear-gradient(270deg, #903AFF 0%, #D434FE 100%);
  }

  .mask-mobile {
    -webkit-mask-image: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0));
    -webkit-mask-size: cover;

    mask-image: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0));
    mask-size: cover;
  }

  .mask-desktop {
    -webkit-mask-image: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0));
    -webkit-mask-size: cover;

    mask-image: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0));
    mask-size: cover;
  }
}